### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Artifacts 
*.exe

# Arhives
*.tar
*.zip

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
src/static-analysis.xml
src/cover-cobertura.xml

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
glide.lock
vendor/

# IDEs:
.idea/

# logs:
*.log
*.log.*

# system files
*DS_Store
